.input {
  font-size: 14px;
  box-shadow: inset 0px 0px 0px 1px #9d9fa2;
  -webkit-box-shadow: inset 0px 0px 0px 1px #9d9fa2;
  padding: 16px;
  outline: none;
  width: 90%;
  margin: 0 16px 0 0;
  flex-grow: 1;
  margin-top: 5px;
  margin-bottom: 8px;
  border: none;
}
.input:focus {
  border: none;
  box-shadow: inset 0px 0px 0px 1px #000;
  -webkit-box-shadow: inset 0px 0px 0px 1px #000;
}
