.skin-card {
  height: 250px;
  width: 55%;
  min-width: 165px;
  background-color: white;
  border: 1px solid lightslategray;
  justify-self: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  color: black;
  margin: 5px;
}
.skin-card:hover {
  cursor: pointer;
}
.skin-img {
  height: 105px;
}
.skin-content {
  font-size: 18px;
  width: 100%;
  background-color: #fafafa;
  letter-spacing: 0.2px;
  color: black;
  display: flex;
  height: 145px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
